###############################################################################
# Default Artifacts
###############################################################################
bin/
obj/
x64/
x86/

###############################################################################
# Visual Studio and Visual Studio Code
###############################################################################
.vs/
.vscode/

###############################################################################
# User Specific Settings
###############################################################################
*.user
